body{
  background-color: #d8f1ff;

}
.intro {
    width: 100%;
    background-color: #0a0d54;
}

.intro p {
    font-style: italic;
    color: white;
    font-family: calibri;
    min-height:100px;
    width:100%;
    font-weight: lighter;
}

.intro img{
  width: 100px;
  max-width:30%;
  float: left;
}
p.author {
    width: 75%;
    font-style: italic;
    font-weight: bold;
}

p.important {
    color: red;
}

.Projects li {
  font-weight: bold;
  font-style: normal;
  font-family: sans-serif;
  font: 40px;
}

.Resume {
  columns:3;
}
