.intro {
    width: 100%;
    background-color: lightblue;
}

.intro p {
    font-style: italic;
    font-family: calibri;
    min-height:100px;
    width:100%;
}

.intro img{
  width: 100px;
  max-width:30%;
  float: left;
}
p.author {
    width: 75%;
    font-style: italic;
    font-weight: bold;
}

p.important {
    color: red;
}
